<html>
  <head>
    <title> Yay you're feeling Happy! </title>
      <link rel="stylesheet" type="text/css" href="public/css/music_styles.css">
      <iframe width="0" height="" src="http://youtuberepeater.com/watch?v=H0m3Lfkzcw4&name=Happy+Pharrell+Williams+Original+Lyrics+HD" frameborder="0" allowfullscreen></iframe>
  </head>
    <body>
    <h1 class="happy_header">Yay you're feeling Happy!</h1>
    


    <!--style="display: none;"-->
    
<center><div class="Our suggestions">
  <h1 class="suggestions" Our Happy song Suggestions:></h1>
  <br><a href="https://www.youtube.com/watch?v=fFuof92V8uk"><button type="button" class="happy_song">"Happy": Pharrell Williams</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=h6kQSxZL_3k"><button type="button" class="happy_song">"That's What I like": Bruno Mars</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=hV2z4oBNFKs"><button type="button" class="happy_song">"Good Feeling": Flo Rida</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=D5nRhNAxPbc"><button type="button" class="happy_song">"I'm the One": DJ Khaled</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=ikZWUzvj7Uk"><button type="button" class="happy_song">"Fire Burning": Sean Kingston</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=ICjG8t_SnSg"><button type="button" class="happy_song">"Toxic": Britney Spears</button></a>
</div></center>

<a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DXdPec7aLTmlC">
<img border="0" alt="Spotify Happy Playlist" src="https://i2.wp.com/kiirstenjones.com/wp-content/uploads/2016/07/image9.jpeg?resize=750%2C706&ssl=1">
</a>
</div>

    </body>
</html>
