<html>
  <head>
    <title> You're feeling Zen. Namaslay! </title>
      <link rel="stylesheet" type="text/css" href="public/css/music_styles.css">
      
  </head>
    <body>
    <h1 class="peaceful_header">You're feeling Zen. Namaslay!</h1>
    
<center><div class="Our suggestions">
  <h1 class="suggestions" Our Zen song Suggestions:></h1>
  <br><a href="https://www.youtube.com/watch?v=l9Q7GISatW0"><button type="button" class="peaceful_song">"Clarity": Zedd</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=-SWJSL8uhr8"><button type="button" class="peaceful_song">"Let it go": James Bay</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=Ws0sCcEf-XQ"><button type="button" class="peaceful_song">"Halo": Beyonce</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=Em7vc8NWUNY"><button type="button" class="peaceful_song">"Scars To Your Beautiful": Alessia Cara</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=Gwx4iTRLXG8"><button type="button" class="peaceful_song">"Just Give Me a Reason": P!nk</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=-tn0z4Bz1aQ"><button type="button" class="peaceful_song">"Say you Won't Let Go": James Arthur</button></a>
  
</div></center>

<a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DWU0ScTcjJBdj">
<img border="0" alt="Spotify Relax & Unwind Playlist" src="http://myheartycorner.com/wp-content/uploads/2017/05/img_0478.jpg">
</a>

  </div>

    </body>
</html>
