<html>
  <head>
    <title> Aw feeling down? It gets better. </title>
      <link rel="stylesheet" type="text/css" href="public/css/music_styles.css">  
      <iframe width="0" height="0" src="http://youtuberepeater.com/watch?v=qm-QoJcra8U&name=Apologize+Timbaland+Lyrics" frameborder="0" allowfullscreen></iframe>
      </head>
    <body>
    <h1 class="sad_header">Aw feeling down? It gets better.</h1>
    
<center><div class="Our suggestions">
  <h1 class="suggestions" Our Sad song suggestions:></h1>
  <br><a href="https://www.youtube.com/watch?v=tWh_AH3VjzQ"><button type="button" class="sad_song">"Apologize": One Republic</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=7j5CfdfxtEY"><button type="button" class="sad_song">"Whatcha Say": Jason Derulo</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=daf67SCo5_s"><button type="button" class="sad_song">"Fireflies": Owl City</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=ox7RsX1Ee34"><button type="button" class="sad_song">"LOVE.FEAT.ZACARI.": Kendrick Lamar</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=H3Kzh6RrnMc"><button type="button" class="sad_song">"Hymn for the Weekend": Coldplay</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=rtz_gVeekNE"><button type="button" class="sad_song">"Love the Way You Lie:" Rihanna, Eminem.</button></a>
</div></center>

<a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX7qK8ma5wgG1">
<img border="0" alt="Sad Songs Playlist" src="https://i.scdn.co/image/659ac7964695940fa8c11c7a8a8b5eb699c5ca16">
</a>

  </div>

    </body>
</html>