<html>
  <head>
    <title> You're feelin' trappy! We'll get you turnt! </title>
      <link rel="stylesheet" type="text/css" href="public/css/music_styles.css">
      <iframe width="0" height="0" src="http://youtuberepeater.com/watch?v=RVjm-bp3cGQ" frameborder="0" allowfullscreen></iframe>
      </head>
    <body>
    <h1 class="trap_header">You're feelin' trappy! We'll get you turnt!</h1>
    
<center><div class="Our suggestions">
  <h1 class="suggestions" Our Trappy song suggestions:></h1>
  <br><a href="https://www.youtube.com/watch?v=bIR5tBW5hlQ"><button type="button" class="trappy_song">"Trap Queen": Fetty Wap</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=-8MVRt-B-Hg"><button type="button" class="trappy_song">"Gold Digger":Kayne West </button></a>
  
  <br><a href="https://www.youtube.com/watch?v=rCx4NFNuYgI"><button type="button" class="trappy_song">"Rolex": Ayo & Teo</button></a>
  
  <br><a href="https://www.youtube.com/watch?v=LBN0HWe8Iyc"><button type="button" class="trappy_song">"Better Now": Post Malone </button></a>
  
  <br><a href="https://www.youtube.com/watch?v=-Xvaj27aTX0"><button type="button" class="trappy_song">"In my Feelings":Drake</button> </a>
  
  <br><a href="https://www.youtube.com/watch?v=N4Ty2NJk0ys"><button type="button" class="trappy_song">"iSpy":KYLE(feat. Lil Yachty</button></a>
  
</div></center>

<a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX0XUsuxWHRQd">
<img border="0" alt="Rap Caviar Playlist" src="http://memberdata.s3.amazonaws.com/hi/hitsdd/photos/hitsdd_photo_gal__photo_1157618841.png">
</a>

</div>
    </body>
</html>
